<div class="container">
    <div class="gamecontainer">
        <div class="title">
            <h1>{{pageTitle}}</h1>
        </div>
        <div class="gamegrid">
            <div class="column" *ngFor="let column of collection">
                <div *ngFor="let item of column">
                    <img [src]="item.source" *ngIf="item.animationPlayed"
                    [@bounceIn5]="itemIndex === item.collectionIndex && item.index === 0 ? 'bounce5' : ''"
                    [@bounceIn4]="itemIndex === item.collectionIndex && item.index === 1 ? 'bounce4' : ''"
                    [@bounceIn3]="itemIndex === item.collectionIndex && item.index === 2 ? 'bounce3' : ''"
                    [@bounceIn2]="itemIndex === item.collectionIndex && item.index === 3 ? 'bounce2' : ''"
                    [@bounceIn1]="itemIndex === item.collectionIndex && item.index === 4 ? 'bounce1' : ''"
                    [@fallOne]="item.fallOne ? 'fall' : ''"
                    
                    [@winningSymbols]="item.class === winningClass ? 'won' : 'lost'">
                    >
                </div>
            </div>
        </div>
        <div class="actions">
            <div>
                <p>Credit: ${{credit}}</p>
                <p>Bet: ${{bet}}</p>
            </div>
            <button (click)="spin()" [disabled]="disableSpin">Spin</button>
        </div>
    </div>
</div>