.carousel-item {
    height: 20vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .center {
    text-align: center;
    align-items: center;
    justify-content: center;
    align-self: center;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
    align-items: flex-start;
}